body .wordCounter{
    padding: 50px 100px;
}
.wordCounter h1{
text-align: center;
background-color: rgb(27, 83, 215);
padding: 10px;
margin: 0;
color: white;
}
.wordCounter #textbox{
    width: 98.5%;
    border: 2px solid rgb(88, 46, 216);
    font-size: 15px;
}
.wordCounter p{
text-align: center;
background-color: rgb(19, 19, 218);
font-weight: bold;
padding: 5px;
font-size: 26px;
margin-top: 0;
color: white;
}